.App {
  display: flex;
  flex: 1;
  flex-direction: column;
  /* height: 1500px; */
}

.Header {
  height: 18vh;
  width: 97vw;
  background-color: white;
  padding: 1%;
}

.Header-icon-container {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  height: 15vh;
}

.Header-item-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 5%;
}

.App-logo {
  height: 14vmin;
  pointer-events: none;
  margin: 1%;
}

.Icon {
  height: 6vmin;
  width: 6vmin;
}

.Icon-label {
  font-size: 0.8vw;
  margin-inline: 5%;
}

.Icon-label span {
  font-size: 1vw;
  font-weight: 600;
  display: block;
  margin-top: 2px;
  width: 8vw;
}

.nav {
  background-color: #1e429f;
  padding: 0.8rem;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.25);
}

.nav-links {
  list-style: none; /* remove list points */
  display: flex;
}

.nav-links li {
  margin: 0 10px;
  /* add pacing between list items */
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-size: 1.1vw;
}

.nav-links a:hover {
  text-decoration: underline;
}

.section-heading {
  justify-content: center;
  width: 100%;
  display: flex;
  margin-block: 2%;
  align-items: center;
}

.section-title {
  font-size: 2.2vw;
  margin: 0 10px;
  color: #1e429f;
}

.line {
  display: inline-block;
  width: 50px;
  height: 2px;
  background-color: #1e429f;
}